/ChameleonCoder/bin/
/ChameleonCoder/obj/
/ChameleonCoder/AHK.ScriptsMan_TemporaryKey.pfx
/ChameleonCoder/wiki/
/GuidCreator/bin/
/GuidCreator/obj/
/Deploy/#Data/
/#AHK/
/#Extern/
/#Temp/
/_Icons/
/Languages/
/docs/
/wiki/