/ChameleonCoder/AHK.ScriptsMan_TemporaryKey.pfx
/ChameleonCoder/obj/
/ChameleonCoder.ComponentCore/obj/
/GuidCreator/obj/
/Deploy/Data/
/Deploy/*.pdb
/Deploy/*.xml
/Deploy/Temp
/Deploy/ICSharpCode.AvalonEdit.xml
*.pdb
*.xml