/ChameleonCoder/bin/
/ChameleonCoder/obj/
/ChameleonCoder/AHK.ScriptsMan_TemporaryKey.pfx
/ChameleonCoder/wiki/
/GuidCreator/bin/
/GuidCreator/obj/
/ChameleonCoder.ResourceCore/bin/
/ChameleonCoder.ResourceCore/obj/
/Deploy/Data/
/Deploy/*.pdb
/Deploy/*.xml
/Deploy/ICSharpCode.AvalonEdit.xml
/#AHK/
/#Extern/
/#Temp/
/_Icons/
/Languages/
/docs/
/wiki/
*.pdb
*.xml