<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChameleonCoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChameleonCoder.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>1033</value>
            </setting>
            <setting name="ProgrammingDir" serializeAs="String">
                <value>C:\Programming\</value>
            </setting>
            <setting name="EnableUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDefaultPackageSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Package_IncludeFSComponent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Package_IncludeTarget" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisabledPlugins" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ChameleonCoder.Properties.Settings>
    </userSettings>
</configuration>